<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/applogo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Daksh19"
        tools:targetApi="31">
        <activity
            android:name=".example"
            android:exported="false" />
        <activity
            android:name=".intropage4"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".LoanActivity"
            android:exported="false" />
        <activity
            android:name=".intropage3"
            android:exported="false" />
        <activity
            android:name=".intropage2"
            android:exported="false" />
        <activity
            android:name=".intropage1"
            android:exported="true"></activity>
        <activity
            android:name=".SpamUrlActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportUrlSpam"
            android:exported="true" />
        <activity
            android:name=".CyberHelpActivity"
            android:exported="true" />
        <activity
            android:name=".ReportSpamPhone"
            android:exported="true" />
        <activity
            android:name=".SpamCall"
            android:exported="true" />
        <activity
            android:name=".SpamEmail"
            android:exported="true" />
        <activity
            android:name=".ReportEmailSpam"
            android:exported="true" />
        <activity
            android:name=".Spam"
            android:exported="true" />
        <activity
            android:name=".GST"
            android:exported="true" />
        <activity
            android:name=".BudgetSavingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Emi2"
            android:exported="false" />
        <activity
            android:name=".Emi"
            android:exported="true" />
        <activity
            android:name=".SavingsActivity"
            android:exported="true" />
        <activity
            android:name=".TaxOnIncome2"
            android:exported="true" />
        <activity
            android:name=".TaxOnIncome"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true" />
        <activity
            android:name=".first_page"
            android:exported="true"></activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard_app"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".check_mail"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:label="First Page" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.login.AccountActivity"
            android:exported="true" />
        <activity
            android:name=".GameActivity"
            android:exported="true" />
        <activity android:name=".QuizActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>